.form-container {
  max-width: 60rem;
  margin: 8rem auto 4rem;
  padding-top: 2rem;
  padding-inline: 3rem;
  background-color: #9e9e9e;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-title {
  color: black;
  text-align: center;
  margin: 1.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

select {
  min-height: 3.6rem;
}

textarea {
  resize: vertical;
  min-height: 5rem;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.w-btn {
  background-color: #779bc1;
  margin-bottom: 2rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.w-btn:hover {
  background-color: #3d74af;
}

.form-container h2 {
  color: black;
  text-align: center;
  padding-bottom: 2rem;
}
