nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar .navbar-brand {
  width: 200px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

@media (max-width: 485px) {
  nav.navbar .navbar-brand {
    width: 130px;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: 15px;
    padding: 0 5px;
  }
}
